<%= form_with model: [comment.commentable, comment] do |form| %>
  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_field :body, required: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
