<div>
  <% if (mentioned_by_reports = @report.mentioned_by_reports.order(:id).presence) %>
    <h3><%= t('.mentions') %></h3>
    <ul>
      <% mentioned_by_reports.each do |mentioned_by_report| %>
        <li>
          <%= link_to "#{mentioned_by_report.mentioned_report.user.name}: #{mentioned_by_report.mentioned_report.title}", mentioned_by_report.mentioned_report %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
