<div>
  <% if outgoing_mentions %>
    <h3><%= t('.mentions') %></h3>
    <ul>
      <% outgoing_mentions.each do |outgoing_mention| %>
        <li>
          <%= link_to "#{outgoing_mention.mentioned_report.user.name}: #{outgoing_mention.mentioned_report.title}", outgoing_mention.mentioned_report %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
