<div>
  <% if (mentions_to_reports = @report.mentions_to_reports.order(:id).presence) %>
    <h3><%= t('.mentions') %></h3>
    <ul>
      <% mentions_to_reports.each do |mentions_to_report| %>
        <li>
          <%= link_to "#{mentions_to_report.mentioned_report.user.name}: #{mentions_to_report.mentioned_report.title}", mentions_to_report.mentioned_report %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
